.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.title {
    font-size: 8rem;
    color: #293264;
    font-weight: bold;
    top: 50%; 
    right: 50%;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 3px #4D5B9E,
        1px 2px 3px #4D5B9E,
        1px 3px 3px #4D5B9E,
        1px 4px 3px #4D5B9E,
        1px 5px 3px #4D5B9E,
        1px 6px 3px #4D5B9E,
        1px 7px 3px #4D5B9E,
        1px 8px 3px #4D5B9E,
        1px 9px 3px #4D5B9E,
        1px 10px 3px #4D5B9E,
    1px 18px 6px rgba(16,16,16,0.1),
    1px 22px 10px rgba(16,16,16,0.1),
    1px 25px 35px rgba(16,16,16,0.1),
    1px 30px 60px rgba(16,16,16,0.1);

}
.btn {
    color: white;
    font-weight: bold ;
    background-color: #4D5B9E;
    width: 200px;
    margin-top: 10px;
}
.btn:hover{
    scale: 1.05;
}